/* フォント */
@import url('https://fonts.googleapis.com/css?family=Sacramento');
/* 共通CSS */
*{
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

body{
  background-color: #fef4f4;
  margin: auto;
}
.header-main{
  background-color: #f6bfbc;
  padding: 10px 10px;
}
.header-main a{
  color: #ffffff;
  text-decoration: none;
  font-size: 41px;
  font-family: 'Sacramento', cursive;
}
.footer-main{
  color: #ffffff;
  background-color: #f6bfbc;
  padding: 10px 10px;
  margin-top: 100px;
  text-align: center;
}
.footer-main1{
  color: #ffffff;
  margin-top: 270px;
  background-color: #f6bfbc;
  padding: 10px 10px;
  text-align: center;
}
main{
  width: 100vw;
  height: 65vh;
  text-align: center;
  color: #595857;
}
.title{
  text-align: center;
  font-weight: bold;
  color: #ee827e;
}

/* トップページ */
.greeting{
  text-align: center;
  padding-top: 7px;
}
.game-all{
  display: flex;
  justify-content: center;
}
.game-list{
  text-align: center;
  margin: 20px 10px;
}
.game-list img{
  padding: 10px 10px;
  border: 6px solid lightgray;
  border-radius: 3px;
  margin-top: 20px;
}
.game-name{
  text-decoration: none;
  color: #ee827e;
  background-color: #f6bfbc;
  border-radius: 3px;
  padding: 10px 10px;
}
.game-name:hover{
  color: #ec6d71;
}
.tweet{
  font-size: 14px;
}
.side-icon{
  position: fixed;
  bottom: 90px;
  right: 50px;
  padding: 0 10px;
  line-height: 1px;
  border: solid 2px #ec6d71;
  border-radius: 5px;
  background-color:#f6bfbc;
}
.side-icon p{
  font-family: 'Sacramento', cursive;
}
.bear{
  width: 50px;
  height: 60px;
}
.top-rule{
  border-top: solid 2px #ee827e;
  border-bottom: solid 2px #ee827e;
  width: 500px;
  margin: 0 auto;
  font-size: 15px;
  margin-bottom: 10px;
}
.top-rule span{
  color:#ee827e;
}
/* 神経衰弱 */
body{
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.container{
  background: #fdeff2;
  width: 424px;
  height: 402px;
  margin: 0 auto;
  margin-top: 10px;
}
#stage{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  cursor: pointer;
  width: 100px;
  height: 130px;
  transition: 0.8s;
  position: relative;
  transform-style: preserve-3d;
  margin: 2px;
}
.card-front,
.card-back{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 70px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.card-front{
  font-size: 35px;
  line-height: 130px;
  color: #ee827e;
  background: #ffffff;
  transform: rotateY(180deg);
}
.card-back{
  background-image: url('image/back.png');
  background-size: 100% 100%;
  background-color: #ffffff;
}
.card.open{
  transform: rotateY(180deg);
}
.rule{
  line-height: 10px;
  margin-top: 70px;
  color: #595857;
  font-size: 15px;
}
/* ボタン */
#restart {
  text-decoration: none;
  display: block;
  background: #f6bfbc;
  color: #ee827e;
  border-radius: 3px;
  text-align: center;
  padding: 10px 0;
  margin: 15px 100px;
}

/* オセロ */
#field{
  margin: 0 auto;
}
#field td {
  border: 1px solid lightgray;
  width: 43px;
  height: 43px;
  background-color: #69b076;
  text-align: center;
  vertical-align: middle;
  table-layout: fixed;
  padding: 1px 1px 1px 1px;
  font-size: 33px;
  }
.button{
  background: #f6bfbc;
  color: #ee827e;
  border-radius: 3px;
  border: 2px solid;
  border-color: #f6bfbc;
  padding: 6px 80px;
  font-weight: bold;
  font-size: 16px;
}
.main{
  text-align: center;
  justify-content: center;
}
.rule1{
  line-height: 10px;
  margin-top: 20px;
  color: #595857;
  font-size: 15px;
}
